div {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: skyblue;
}

#greenDiv {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: green;
}

.group1 {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: #571453;
}